In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
from itertools import combinations
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

<h1><b><center>Movie Analysis</center></b></h1>

## Reading data

In [2]:
pd.options.mode.chained_assignment = None

In [4]:
df_1 =  pd.read_csv('data//IMDBdata_MainData.csv')

In [5]:
df_2 = pd.read_csv('data//IMDBdata_MainData2.csv')

In [7]:
df_1.shape

(5273, 27)

In [8]:
df_2.shape

(5382, 27)

In [9]:
data = pd.concat([df_1,df_2]).drop_duplicates(subset=['Title']).reset_index(drop=True)

In [20]:
data[data['Title'] == 'Disaster Movie']

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,tomatoURL
11,Disaster Movie,2008,PG-13,29 Aug 2008,87 min,Comedy,"Jason Friedberg, Aaron Seltzer","Jason Friedberg, Aaron Seltzer","Matt Lanter, Vanessa Lachey, Gary 'G. Thang' J...","Over the course of one evening, an unsuspectin...",...,1.9,"77,407",tt1213644,movie,06 Jan 2009,"$14,174,654",Lionsgate,http://disastermovie.net/,True,http://www.rottentomatoes.com/m/disaster_movie/

In [35]:
sample = data.iloc[11,:].to_dict()
sample
# pd.DataFrame.from_dict(sample,columns = sample.keys(), orient='index' )
# pd.DataFrame(sample,index=[0])

{'Title': 'Disaster Movie',
 'Year': 2008,
 'Rated': 'PG-13',
 'Released': '29 Aug 2008',
 'Runtime': '87 min',
 'Genre': 'Comedy',
 'Director': 'Jason Friedberg, Aaron Seltzer',
 'Writer': 'Jason Friedberg, Aaron Seltzer',
 'Actors': "Matt Lanter, Vanessa Lachey, Gary 'G. Thang' Johnson, Nicole Parker",
 'Plot': 'Over the course of one evening, an unsuspecting group of twenty-somethings find themselves bombarded by a series of natural disasters and catastrophic events.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': '1 win & 6 nominations.',
 'Poster': 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTIzMDQyNDgwNl5BMl5BanBnXkFtZTcwMDA0MTc3MQ@@._V1_SX300.jpg',
 'Ratings.Source': 'Internet Movie Database',
 'Ratings.Value': '1.9/10',
 'Metascore': 15.0,
 'imdbRating': 1.9,
 'imdbVotes': '77,407',
 'imdbID': 'tt1213644',
 'Type': 'movie',
 'DVD': '06 Jan 2009',
 'BoxOffice': '$14,174,654',
 'Production': 'Lionsgate',
 'Website': 'http://disastermovie.net/',
 'Response': True,
 'tomatoURL': 'http://www.rottentomatoes.com/m/disaster_movie/'}

In [11]:
# scraped KIM data
with open('data//kinds_in_mind_data.json', 'r') as f:
    kim = json.load(f)

In [16]:
kim_data = pd.DataFrame(kim.items(), columns=['Title', 'Rating'])

In [17]:
kim_data

                        Title  Rating
0                     Abandon   4.4.4
1                   Abduction   4.5.5
2                  Abominable   1.2.1
3                 About A Boy   3.3.5
4            About Last Night  7.2.10
...                       ...     ...
5402  The Ballad of Little Jo   6.5.3
5403         The Bandâ€™s Visit   5.2.5
5404       The Banger Sisters   7.2.6
5405             The Bank Job   8.8.7
5406   The Basketball Diaries   6.7.7

[5407 rows x 2 columns]

## Data processing

In [18]:
temp_join = pd.merge(data,kim_data,on='Title')

In [19]:
temp_join

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,tomatoURL,Rating
0,Superbabies: Baby Geniuses 2,2004,PG,27 Aug 2004,88 min,"Comedy, Family, Sci-Fi",Bob Clark,"Steven Paul (story), Gregory Poppen (screenplay)","Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",A group of smart-talking toddlers find themsel...,...,"26,376",tt0270846,movie,04 Jan 2005,"$9,016,422",Sony,http://www.sonypictures.com/movies/superbabies...,True,http://www.rottentomatoes.com/m/super_babies_b...,2.3.2
1,Disaster Movie,2008,PG-13,29 Aug 2008,87 min,Comedy,"Jason Friedberg, Aaron Seltzer","Jason Friedberg, Aaron Seltzer","Matt Lanter, Vanessa Lachey, Gary 'G. Thang' J...","Over the course of one evening, an unsuspectin...",...,"77,407",tt1213644,movie,06 Jan 2009,"$14,174,654",Lionsgate,http://disastermovie.net/,True,http://www.rottentomatoes.com/m/disaster_movie/,7.8.5
2,From Justin to Kelly,2003,PG,20 Jun 2003,81 min,"Comedy, Musical, Romance",Robert Iscove,Kim Fuller,"Kelly Clarkson, Justin Guarini, Katherine Bail...",A waitress from Texas and a college student fr...,...,"23,918",tt0339034,movie,26 Aug 2003,"$4,584,577",20th Century Fox,http://www.fromjustintokelly.com/,True,http://www.rottentomatoes.com/m/from_justin_to...,3.2.2
3,Son of the Mask,2005,PG,18 Feb 2005,94 min,"Comedy, Family, Fantasy",Lawrence Guterman,Lance Khazei,"Jamie Kennedy, Alan Cumming, Liam Falconer, Ry...","Tim Avery, an aspiring cartoonist, finds himse...",...,"43,443",tt0362165,movie,17 May 2005,"$16,967,576",New Line Cinema,http://www.sonofthemask.com/,True,http://www.rottentomatoes.com/m/son_of_the_mask/,3.4.3
4,Crossover,2006,PG-13,01 Sep 2006,95 min,"Action, Sport",Preston A. Whitmore II,Preston A. Whitmore II,"Anthony Mackie, Wesley Jonathan, Eva Marcille,...","A naturally talented basketball player, Noah C...",...,"8,778",tt0473024,movie,20 Feb 2007,"$7,009,668",Sony Pictures Entertainment,http://www.sony.com/crossover,True,http://www.rottentomatoes.com/m/crossover/,5.3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2673,The Family,2016,TV-PG,03 Mar 2016,60 min,"Drama, Mystery",NaN,Jenna Bans,"Joan Allen, Rupert Graves, Alison Pill, Margot...",A community is rattled when a politician's son...,...,"4,005",tt4428038,series,NaN,NaN,NaN,NaN,True,NaN,6.7.8
2674,Wolf Creek,2016â€“,NaN,12 May 2016,NaN,"Drama, Horror, Thriller",NaN,NaN,"Lucy Fry, John Jarratt, Dustin Clare, Andy McPhee","Eve, a 19-year-old American tourist is targete...",...,"2,005",tt4460878,series,NaN,NaN,NaN,NaN,True,NaN,4.8.7
2675,Van Helsing,2016â€“,NaN,23 Sep 2016,60 min,"Action, Drama, Fantasy",NaN,NaN,"Kelly Overton, Christopher Heyerdahl, Jonathan...","Vanessa Helsing, distant relative of famous va...",...,"6,245",tt5197820,series,NaN,NaN,NaN,NaN,True,NaN,4.7.2
2676,Conviction,2016â€“2017,NaN,03 Oct 2016,42 min,Drama,NaN,"Liz Friedlander, Liz Friedman","Hayley Atwell, Eddie Cahill, Shawn Ashmore, Me...",A brilliant attorney and former First Daughter...,...,"5,475",tt5396572,series,NaN,NaN,NaN,NaN,True,NaN,5.7.10
2677,Animal Kingdom,2016â€“,TV-MA,14 Jun 2016,60 min,"Crime, Drama",NaN,Jonathan Lisco,"Finn Cole, Aamya Deva Keroles, Ellen Barkin, S...","The series centers on 17-year-old Joshua """"J""""...",...,"7,599",tt5574490,series,NaN,NaN,NaN,NaN,True,NaN,4.7.10

In [ ]:
temp_join = temp_join[['Title','Rated','Released','Genre','Plot','Rating']]

In [ ]:
temp_join['Year'] = temp_join['Released'].str.split(' ',expand=True)[2]

In [ ]:
temp_join

In [ ]:
temp_join = temp_join.dropna()

In [ ]:
temp_join[['Sex','Violence','Language']] = temp_join['Rating'].str.split('.',expand=True)

In [ ]:
temp_join['agg_score'] = temp_join['Sex'].astype(int) + temp_join['Violence'].astype(int) + temp_join['Language'].astype(int)

In [ ]:
temp_join

In [ ]:
# checking % of empty ratings in RATED
temp_join[temp_join['Rated'] == ''].shape[0] / temp_join.shape[0]

In [ ]:
temp_join['Rated'].value_counts()

In [ ]:
# Making values uniiform

temp_join['Rated']= temp_join['Rated'].replace('TV-14', 'PG-13')
temp_join['Rated']= temp_join['Rated'].replace('TV-MA', 'R')
temp_join['Rated']= temp_join['Rated'].replace('TV-PG', 'PG')
temp_join['Rated']= temp_join['Rated'].replace('NC-17', 'R')
temp_join['Rated']= temp_join['Rated'].replace('TV-G', 'G')
temp_join['Rated']= temp_join['Rated'].replace('TV-Y', 'G')

#removing values which are not rated
temp_join = temp_join[temp_join.Rated != 'UNRATED']
temp_join = temp_join[temp_join.Rated != 'APPROVED']
temp_join = temp_join[temp_join.Rated != 'NOT RATED']

In [ ]:
temp_join['Rated'].value_counts()

In [ ]:
pd.DataFrame(temp_join.groupby('Year')['Title'].count())

In [ ]:
# Ignoring all values before 1992
post92 = temp_join[temp_join['Year'].astype(int) > 1991]

In [ ]:
post92

### 2605 rows of data

## Calculating unweighted and weighted scores

In [ ]:
percentages = post92.groupby('Year')['Rated'].apply(lambda x: x.value_counts(normalize = True)).unstack()

In [ ]:
percentages['unw_kim_score'] = post92.groupby('Year')['agg_score'].mean()

In [ ]:
percentages

In [ ]:
viz_df = percentages.reset_index()
viz_df['unw_kim_score'] = viz_df['unw_kim_score'].astype('float64')
viz_df['Year'] = viz_df['Year'].astype('int32')

### Unweighted score plot

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.regplot(x=viz_df['Year'],y=viz_df['unw_kim_score'],ci=95)

In [ ]:
# Normalizing problem:
'''
Each year, the distribution of movies assessed changes. To account for this change, need a weighted avg of KIM scores for each year.
Possible solution: Calculate mean of % movies analyzed each year. 
Calculate weighted avg of KIM movies using this mean
'''
mean_percentage = dict(percentages.mean())
mean_percentage

In [ ]:
normalize_dict = percentages.to_dict()
normalize_dict

In [ ]:
def calculate_weighted_score(row,col_num):
    year = row[6]
    rated = row[1]
    weight = mean_percentage[rated] / normalize_dict[rated][year] 
    return row[col_num] * weight

In [ ]:
# post92['weighted_agg'] = post92.apply(lambda x: calculate_weighted_score(x), axis = 1)
post92['weighted_agg'] = post92.apply(calculate_weighted_score,args=[10], axis=1)

In [ ]:
post92

In [ ]:
percentages['weighted_kim_score'] = post92.groupby('Year')['weighted_agg'].mean()

### Weighted score plot

In [ ]:
viz_df = percentages.reset_index()
viz_df['weighted_kim_score'] = viz_df['weighted_kim_score'].astype('float64')
viz_df['Year'] = viz_df['Year'].astype('int32')

sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.regplot(x=viz_df['Year'],y=viz_df['weighted_kim_score'],ci=95)

### Category-wise distribution of scores

In [ ]:
cols_to_process = ['Sex','Violence','Language']
for col in cols_to_process:
    post92[col] = post92[col].astype('int32')

In [ ]:
post92['weighted_sex'] = post92.apply(calculate_weighted_score,args=[7], axis=1)
post92['weighted_violence'] = post92.apply(calculate_weighted_score,args=[8], axis=1)
post92['weighted_language'] = post92.apply(calculate_weighted_score,args=[9], axis=1)
post92

In [ ]:
percentages['weighted_sex_score'] = post92.groupby('Year')['weighted_sex'].mean()
percentages['weighted_violence_score'] = post92.groupby('Year')['weighted_violence'].mean()
percentages['weighted_language_score'] = post92.groupby('Year')['weighted_language'].mean()

In [ ]:
cols_to_graph = ['weighted_sex_score','weighted_violence_score','weighted_language_score']

temp_viz_df = percentages.reset_index()
temp_viz_df['Year'] = temp_viz_df['Year'].astype('int32')

# normalizing
temp_viz_df[cols_to_graph] = temp_viz_df[cols_to_graph].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

fig, ax = plt.subplots(3,figsize=(14,20))

sns.set_theme(style="whitegrid")
plt.style.use("seaborn-dark")

for param in ['figure.facecolor', 'axes.facecolor', 'savefig.facecolor']:
    plt.rcParams[param] = '#2F3235'  # bluish dark grey

for param in ['text.color', 'axes.labelcolor', 'xtick.color', 'ytick.color']:
    plt.rcParams[param] = '0.9'  # very light grey

colors = ['#FF4545','#38BAEE','#DB61E5']
    
for i, col in enumerate(cols_to_graph):
    

    plt.rcParams['axes.linewidth'] = 2
    sns.regplot(x=temp_viz_df['Year'],y=temp_viz_df[col],ci=95,ax=ax[i],color=colors[i])

### Correlation between scores

In [ ]:
cols_corr = ['weighted_sex_score','weighted_violence_score','weighted_language_score']
combinations = combinations(cols_corr, 2)
for i in combinations:
    print(i)
    print(pearsonr(temp_viz_df[i[0]],temp_viz_df[i[1]]))

<h1><b><center>Music Analysis</center></b></h1>

## Reading data

In [ ]:
music_df = pd.read_csv('tcc_ceds_music.csv')

In [ ]:
charts_df = pd.read_csv('charts.csv')

## Data processing

In [ ]:
charts_df['song'] = charts_df['song'].str.lower()
charts_df

In [ ]:
charts_df = charts_df.drop_duplicates(subset=['song','artist'])

In [ ]:
charts_df['artist'] = charts_df['artist'].str.lower()

In [ ]:
charts_df

In [ ]:
merged_music = music_df.merge(charts_df,left_on=['track_name','artist_name'], right_on=['song','artist'],how = 'inner')

In [ ]:
merged_music

In [ ]:
pd.DataFrame(merged_music.groupby('release_date')['track_name'].count()).to_dict()

In [ ]:
post59 = merged_music[merged_music['release_date'] >= 1959][['artist_name','track_name','release_date','genre','lyrics','violence','obscene','topic','rank']]

In [ ]:
# import profanity words
profanity_list = []
with open('bad_words.txt','r') as fp:
    for row in fp:
        profanity_list.append(row.replace('\n',''))

In [ ]:
post59

In [ ]:
post59.genre.value_counts()

In [ ]:
# low hiphop numbers. Clubbing hiphop with pop
post59['genre'].replace('hip hop','pop', inplace=True)

### Calculating profanity scores

In [ ]:
def calculate_profanity(row, profanity_list = profanity_list):
    lyrics = row[4].split(' ')
    total_length = len(lyrics)
    counter = 0
    for word in lyrics:
        if word in profanity_list:
            counter += 1
    return (counter/total_length)*100

In [ ]:
post59['percent_prof'] = post59.apply(lambda x: calculate_profanity(x), axis=1)

In [ ]:
prof_percent_year = pd.DataFrame(post59.groupby('release_date')['percent_prof'].mean().reset_index())

In [ ]:
prof_percent_year

### Plotting scores across years (all genres)

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.regplot(x=prof_percent_year['release_date'],y=prof_percent_year['percent_prof'],ci=95)

In [ ]:
genre_prof = post59.groupby(['release_date','genre'])['percent_prof'].mean().reset_index()
genre_prof

In [ ]:
# calculating the percentage distribution for each genre each eat
popularity_percentage = post59.groupby('release_date')['genre'].apply(lambda x: x.value_counts(normalize = True)).unstack().to_dict()

In [ ]:
popularity_percentage

In [ ]:
list(genre_prof.genre.unique())

In [ ]:

# TODO: Color.
# TODO: Normalize column values
def plot_genres(data,popularity):
    sns.set(rc={'figure.figsize':(11.7,8.27)})
    sns.set_theme(style="whitegrid")
#     plt.style.use("bmh")


    plt.style.use("seaborn-dark")

    for param in ['figure.facecolor', 'axes.facecolor', 'savefig.facecolor']:
        plt.rcParams[param] = '#2F3235'  # bluish dark grey

    for param in ['text.color', 'axes.labelcolor', 'xtick.color', 'ytick.color']:
        plt.rcParams[param] = '0.9'  # very light grey
    
    plt.rcParams['axes.linewidth'] = 2
#     ax.grid(color='#2A3459')  # bluish dark grey, but slightly lighter



    genres = list(data['genre'].unique())
    for genre in genres:
        temp = data[data['genre'] == genre]
        
        def popularity_lookup(row):
            year = row[0]
            pop_value = popularity[row[1]][year] * 100
            
            return pop_value
        
        
        temp['percent_share'] = temp.apply(lambda x: popularity_lookup(x), axis=1)
        temp = temp.drop('genre',1)
        
        # normalizing data due to difference in scale
        cols_to_normalize = ['percent_share','percent_prof']
        temp[cols_to_normalize] = temp[cols_to_normalize].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
        
        corr = pearsonr(temp['percent_prof'], temp['percent_share'])
        title_text = f"Genre: {genre.capitalize()}, Correlation value: {corr[0]:.4f}, P-Value: {corr[1]:.4f}"

        sns.lmplot(data=pd.melt(temp,['release_date']), x='release_date', y='value',hue='variable',height=10, palette=['#08F7FE','#FE53BB'] ,aspect=1.2, scatter_kws={"s": 20}, line_kws={"linewidth":4}).set(title=title_text)

### Plotting scores and popularity for each genre across years

In [ ]:
plot_genres(genre_prof, popularity_percentage)

In [ ]:
def plot_correlation(data,popularity):
    sns.set(rc={'figure.figsize':(11.7,8.27)})
    genres = list(data['genre'].unique())
    for genre in genres:
        temp = data[data['genre'] == genre]
        
        def popularity_lookup(row):
            year = row[0]
            pop_value = popularity[row[1]][year] * 100
            
            return pop_value
        
        
        temp['percent_share'] = temp.apply(lambda x: popularity_lookup(x), axis=1)
        temp = temp.drop('genre',1)
        
        print(genre)
#         print(temp[['percent_prof','percent_share']].corr())
#         print(calculate_pvalues(temp[['percent_prof','percent_share']]))
        print(pearsonr(temp['percent_prof'], temp['percent_share']))

In [ ]:
plot_correlation(genre_prof, popularity_percentage)

<h1><b><center>Conclusion</center></b></h1>

##### Movies:
We observe a noticeable increase in KIM scores over the years, which indicates an increase in explicit content. We also observe an increase across all categories of KIM scores

##### Music: 
We observe an increase in profanity over the years. We also studied the correlation between profanity and genre popularity across the years. While correlation doesn't equal causation, we observe a statistically significant correlation between popularity and profanity for Pop music.